html,body{height: 100%;overflow: hidden;}
body{overflow: auto;-webkit-overflow-scrolling: touch;}

.compact-block h1{font-size: 18px; font-weight: bold;text-align: center;}
.compact-block{padding: 10px;background: #FFF;}
.compact-block h2{font-size: 15px; font-weight: bold;}
.compact-block p{font-size: 12px; margin: 10px 0; text-indent: 2em;}
.compact-block li p{text-indent: 0;}
