# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#my:
.project
.svn
.idea
public
tmp
public
server
node_modules
webpack.config.js
route.js
server.bundle.js
webpack-dev-server.js
indexTemplate.html
index.html
p
npm-debug.log
server.bundle.js
*.server.bundle.js

