# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#my:
.project
.svn
.idea
tmp
node_modules
webpack.config.js
route.js
webpack-dev-server.js
indexTemplate.html
index.html
p
npm-debug.log
server.bundle.js

