
.icon-trophy:before {  color: #E5A67E;}

.icon-shezhi:before {  color: #95C5D0;}

.icon-shujiaxuanzhong:before {  color: #92B1D1;}

.icon-leftbarrecharge:before {  color: #E5A67E;}

.icon-zhinanzhen:before {  color: #D19DBB;}

.icon-shizhong:before {  color: #95C5D0;}

.icon-biaoqian:before {  color: #E69494;}

.icon-book:before {  color: #DE8181;}

.icon-aidou:before {  color: #A0C7B7;}

.icon-right:before {     margin: 0 10px; font-size: 14px;font-weight: bold;}