/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr,input{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
input[type="button"],input[type="submit"],input[type="search"],button{-webkit-appearance: none;}
li{list-style:none;}
h5,h6,small{font-size:100%;}
h1{font-size: 24px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
button {background: none; border: none;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
h5{font-size: 16px; color: #333;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.8 verdana,\5FAE\8F6F\96C5\9ED1,sans-serif;color: #333;outline:0;}
body{position: absolute;width: 100%;height: 100%;}
a:focus, a:link, a:visited{color: inherit;}
body{-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; outline: none !important;}
html, body, #app-container{background: #FFFFFF;}
/* /reset */

/* function */
.f-clearfix:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:'.';}
.f-vl-md{display: block;position: absolute;width: 100%;height: 100%;}.f-vl-md:before {display: inline-block;position: relative;visibility: hidden;width: 0;height: 100%;overflow: hidden;content: '.';vertical-align: middle;}
.f-ellipsis-ib {display: inline-block;width: 86%;vertical-align: middle;}
.f-ellipsis{overflow: hidden;white-space: nowrap !important;text-overflow: ellipsis;}
.f-ellipsis-2{display: -webkit-box !important;overflow: hidden;white-space: normal !important;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.f-ellipsis-3{display: -webkit-box !important;overflow: hidden;white-space: normal !important;text-overflow: ellipsis;word-wrap: break-word;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.f-hide{display: none !important;}.f-block{display: block;}
.f-fl{float: left;} .f-fr{float: right;}
.f-pr{position: relative;} .f-pa{position: absolute;}
.f-oh{overflow: hidden;}
.f-flexbox{display:-moz-flex; /* Firefox */display:-webkit-flex; /* Safari and Chrome */display:flex;}
.f-flex1{display:block;box-sizing:border-box;-moz-box-flex:1.0; /* Firefox */-webkit-box-flex:1.0; /* Safari and Chrome */box-flex:1.0;flex:1;}
.f-fs-14{font-size: 14px;}.f-fs-16{font-size: 16px;}.f-fs-18{font-size: 18px;}
.f-tc{text-align: center;}.f-tl{text-align: left;}.f-tr{text-align: right;}
.f-p-15{padding: 15px;}
.f-pr-10{padding-right: 10px;}.f-pr-15{padding-right: 15px;}
.f-pb-10{padding-bottom: 10px;}.f-pb-20{padding-bottom: 20px;}
.f-pt-10{padding-top: 10px;}.f-pt-20{padding-top: 20px;}
.f-mr-10{margin-right: 10px;}
.f-mb-10{margin-bottom: 10px;}.f-mb--10{margin-bottom: -10px;}.f-mb-15{margin-bottom: 15px;}.f-mb-20{margin-bottom: 20px;}.f-mb-30{margin-bottom: 30px;}
.f-mt-10{margin-top: 10px;}.f-mt-15{margin-top: 15px;}.f-mt-20{margin-top: 20px;}.f-mt-30{margin-top: 30px;}
.f-tl{text-align: left !important;}.f-tc{text-align: center !important;}.f-tr{text-align: right !important;}
.f-fw-b{font-weight: bold;}
.f-fc-666{color: #666 !important;}.f-fc-777{color: #777 !important;}.f-fc-EF5{color: #EF5350 !important;}
.f-bg-fff{background-color: #FFF;}
.f-br-6{-moz-border-radius: 6px;border-radius: 6px;}.f-br-3{-moz-border-radius: 3px;border-radius: 3px;}
.f-bb-eee{border-bottom: 1px solid #EEE;}.f-bt-eee{border-top: 1px solid #EEE;}
/*.f-scrollFix{position: absolute;top: 44px;bottom: 0;width: 100%;overflow: hidden;}*/
/* /function */

/* grid */
.g-wraper{position: absolute;left:0;width: 100%;height: 100%;overflow: hidden;background: #FFFFFF;}
.g-body, .gg-body{position: absolute;left:0;top: 0;width: 100%;height: 100%;overflow: hidden;background: #FFFFFF;}
.gg-body > div > .m-bar-nav{z-index: 12}
.gg-body > div > .m-bar-nav + .g-main-list{top: 44px;}

.g-nav{height: 36px;margin-top: 44px;}
.g-main{position: absolute;top: 44px;bottom: 50px;width: 100%;background: #FFFFFF;}
.g-nav + .g-main {top: 80px;}
.g-main-1{bottom: 0;}
.g-main-2{top: 0;}
.g-main-noNav{top:44px;}
.g-scroll{position: absolute;top: 0;bottom: 0;left:0;right:0;overflow-x: hidden;overflow-y: auto;background: #F0F0F0;-webkit-overflow-scrolling: touch;padding-top:1px;margin-top:-1px;}
.g-scroll-noBG{background: none;}
.m-bar-nav + .g-scroll{top: 44px;}
/* /grid */

/* module */
.m-nav{position: absolute;z-index:999;width:100%;background-color: #fff;}
.m-nav a{display:block;box-sizing:border-box;height: 36px;line-height: 36px;font-size:14px;text-align: center;}
.m-nav a.active{color: #41c2c2;border-bottom: 1px solid #41c2c2;}


.m-bar {position: absolute; z-index: 10; box-sizing:border-box; width: 100%; height: 44px; background-color: #f7f7f7;}
.m-bar .iconfont {position: relative; z-index: 20; padding-top: 5px; padding-bottom: 5px;font-size: 27px;line-height: 34px;}
.m-bar-head {top: 0;padding: 0 10px;background-color: #41c2c2;}
.m-bar-head .iconfont {width: 48px;box-sizing:border-box;margin-right: -10px; margin-left: -10px; font-size: 18px;color: #fff;font-weight: normal;text-align: center;}
.m-bar-head .textBtn {margin-right: -10px; margin-left: -10px; padding-right: 15px; padding-left: 15px;font-size: 14px;line-height: 44px;color: #fff;font-weight: normal;}
.m-bar-head .title {display: inline-block; position: absolute; right: 45px; left: 45px; width: auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff; letter-spacing: 0.2em; font-size: 16px; line-height: 44px; text-align: center; }
.m-bar-tab {bottom: 0; height: 50px; padding: 5px 0; border-top: 1px solid #DBDBDB; border-bottom: 0; -webkit-touch-callout: none; }
.m-bar-tab .item {height: 50px; text-align: center; color: #929292; }
.m-bar-tab .item.z-active{color: #41c2c2;}
.m-bar-tab .item .iconfont {width: 24px; height: 24px; line-height: 24px;padding-top: 0; padding-bottom: 0; }
.m-bar-tab .item .iconfont ~ .label {display: block; overflow: hidden; text-overflow: ellipsis;font-size: 10px;line-height: 14px;}

.m-block-c {background: #F0F0F0}
.m-block{background: #FFFFFF;margin-bottom: 12px;border-top: 1px solid #EEE;border-bottom: 1px solid #EEE; }
.m-block:first-child{margin-top: 0;border-top: none;}
.m-block:last-of-type{margin-bottom: 0}
.m-block .content{padding: 16px 0;overflow: hidden;width: 100%;}
.m-block .content .recommend{margin-bottom: 7px;padding: 0 10px;color: #777;}
.m-block .content .recommend .iconWord{display: inline-block;padding: 0 5px;margin-right:7px;background-color: #FDA778;color: #FFF;}
.m-block.m-ad .content{padding: 0;}
.m-block > .title {display:block;padding: 0 10px;border-bottom: 1px solid #EEE;line-height: 42px;background-color: #FFFFFF;color: #777}
.m-block > .title h2{font-size: 16px;color: #333;}
.m-block > .title h2.style-2{color: #EA2510;}
.m-block > .title h2 .iconfont{margin-right: 12px;font-weight: 100;font-size: 16px;}
.m-block > .title .batchChange{}
.m-block > .title .icon-arrow-right{font-size: 14px;}

.m-block .content-none{padding: 40px 0;text-align: center;}

.m-block-1 {margin-top: -12px;}
.m-block-1:first-child{margin-top: 0;}
.m-block-1 > .title{background-color: #EEE;line-height: 25px;}
.m-block-1 > .title h2{font-size: 12px;color: #777;}

.m-block > .title.bsTitle{display:block;padding: 10px 0;height: 50px;line-height: 25px;color: #333;}
.m-block > .title.bsTitle .icon-lh3{letter-spacing: -7px;text-indent: -7px;}
.m-block > .title.bsTitle .f-pa{height: 50px;line-height: 50px;right: 10px;}
.m-block > .title.bsTitle .icon-heart{font-size: 24px;}

.m-download{position: fixed;z-index: 999;bottom: 0;left: 0;right: 0;height: 80px;padding: 16px 10px;box-sizing: border-box;background: rgba(0,0,0,.7);}
.m-download .info{margin-left: 10px;max-width: 35%;}
.m-download .d-btn{display: block;height: 43px;width: 124px;line-height: 41px;text-align: center;font-size: 18px;border-radius: 3px;margin-top: 4px;color: #56d2ec;border: 1px solid #56d2ec;box-sizing: border-box;}
.m-download .d-title{margin-left: 60px;}
.m-download .title, .m-download .desc{margin: 0;padding:0;color: #fff;font-size: 15px;line-height: 20px;}
.m-download .desc{margin-top: 6px;width: 100%;font-size: 12px;}

/*.m-block > .title.bsTitle .icon-arrow-right{right: 10px; bottom: 10px;}*/

.subCat-1 {margin-right: -20px;padding: 0 10px;}

.subCat-5{overflow: hidden;}
.subCat-5 .swipe{overflow: hidden;visibility: hidden;position: relative;}
.subCat-5 .swipe .swipe-wrap{ overflow: hidden;position: relative;}
.subCat-5 .swipe .swipe-wrap .swipe-ad{ width:100%;position: relative;}
.subCat-5 .swipe .swipe-wrap .swipe-ad > img{display: block;}
.subCat-5 .swipe-nav{position: absolute;bottom: 0px;left: 0;right: 0;height: 16px;line-height: 16px;text-align: center;}
.subCat-5 .swipe-nav-wrap{display: inline-block;margin: 0 auto;}
.subCat-5 .swipe-nav-item{display:block;width: 8px;height: 8px;margin-right: 5px;border-radius: 4px;background: rgba(244, 244, 244, 0.5);}
.subCat-5 .swipe-nav-item-active{background: #41C2C2;}
.swipe .u-adimg{pointer-events:none;}
.subCat-11{padding: 4px;}

.subCat-6{border-style: solid;border-color: #EEEEEE;border-width: 1px 1px 0 1px; margin: 0 10px 10px 10px;}
.u-book-6{float: left;box-sizing: border-box;width: 50%;border-bottom: 1px solid #EEEEEE;margin-top: 0;}
.u-book-6 a {display: block;margin-top: 10px;text-align: center;}
.u-book-6 a img{width: 100px;height: auto;margin-top: 10px;}
.u-book-6 a span{display: block;font-size: 12px;height: 40px;line-height: 30px;color: #666666;margin: 0;}
.u-book-6:nth-child(2n+1){border-right: 1px solid #EEEEEE;}
.empty-book-6{position: relative;left: 1px;top: 1px;border-bottom: none;background: #FFFFFF;}

.subCat-12{padding: 0 10px;width: 100%;}
.u-book-7{float: left;width: 50%;margin-top: 20px;}
.u-book-7:nth-child(1),.u-book-7:nth-child(2),.u-book-8:nth-child(1),.u-book-8:nth-child(2){margin-top: 0;}
.u-book-7 a, .u-book-8 a{display: block;position: relative;margin-right: 20px;text-align: center;background-repeat: no-repeat;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;}
.u-book-7 a::before{content: ' ';display: inline-block;width: 0;overflow: hidden;height: 100%;vertical-align: middle;}
.u-book-7 a span{display: inline-block;vertical-align: middle;font-size: 17px;color: #fff;letter-spacing: 10px;text-indent: 10px;}

.subCat-13{padding: 0 10px;margin-right: -7px;}
.u-book-8{float: left;width: 50%;margin-top: 7px;}
.u-book-8 a{margin-right: 7px;}
.u-book-8 a span{display: block;position: absolute;left:0;right: 0;bottom: 0;height:30px;line-height: 30px;background-color: rgba(0,0,0,.5);text-align: center;font-size: 15px;color: #fff;letter-spacing: 0.1em;}

.subCat-14{}
.subCat-14 li{padding: 10px 10px 10px 0;margin-left: 10px;}
.subCat-14 li:last-child{border-bottom: none;padding-bottom: 0;}
.subCat-14 li .bsCover{width: 60px;height: 60px;overflow: hidden;background-color: #E7E7E7;}
.subCat-14 li .bsCover img{width: 100%;height: auto;}
/*.subCat-14 li .bsCover img:nth-child(1){z-index: 1;width: 32px;margin-left: -16px;}
.subCat-14 li .bsCover img:nth-child(2){margin-left: -23px;-webkit-opacity: .5;opacity: .5;}
.subCat-14 li .bsCover img:nth-child(3){margin-left: -2px;-webkit-opacity: .5;opacity: .5;}
.subCat-14 li .bsCover:after{content: ' ';display: block;position: absolute;left: 0;right: 0;bottom: 0;height: 6px;background-color: #ddd4c3;}
*/
.subCat-14 li .bsInfo{margin-left: 71px;line-height: 20px;}
.subCat-14 li .bsName{height: 40px;width: 120px;font-size: 15px;}
.subCat-14 li .bsCount{margin-top: 20px;color: #FDA676;font-size: 14px;}
.subCat-14 li .bsfCount{display: inline-block;margin-right: 6px;}

.subCat-7{margin-right: -8px;padding: 0 10px;}
.subCat-7 li{float: left;box-sizing: border-box;width: 33.3%;margin-top: 8px;}
.subCat-7 li a{display: block;text-align: center;height: 41px;line-height: 35px;margin-right: 8px;border-top: 6px solid #FFA726;background: #FFFFCC;color: #FFA726;}
.subCat-7 li a.style-1{border-top-color: #FFA726;background: #FFFFCC;color: #FFA726;}
.subCat-7 li a.style-2{border-top-color: #FF7043;background: #FCDED4;color: #FF7043;}
.subCat-7 li a.style-3{border-top-color: #43A047;background: #DBEEDC;color: #43A047;}
.subCat-7 li a.style-4{border-top-color: #00ACC1;background: #D3E9FA;color: #00ACC1;}
.subCat-7 li a.style-5{border-top-color: #1E88E5;background: #BADDF9;color: #1E88E5;}
.subCat-7 li a.style-6{border-top-color: #8E24AA;background: #EAD6EE;color: #8E24AA;}

.subCat-8{margin-top: -10px;}
.subCat-8 li{float: left;margin: 10px 0 0 10px;}
.subCat-8 li a{display: inline-block;height:32px;line-height:32px;padding: 0 20px;border:1px solid #999;font-size: 15px;-moz-border-radius: 16px;border-radius: 18px;}

.m-noData {display: inline-block;width: 100%;vertical-align: middle;}
.m-noData .icon, .m-noData .tip{display: block;}
.m-noData .icon{width: 50%;max-width:205px;margin: 0 auto 15px;}
.m-noData .tip{font-size: 15px;color: #949494;}
.m-noData .u-btn{margin-top: 30px;display: inline-block;}

/* /module */

/* unit */
.u-book-0{float: left;width: 33.3%;margin-top: 10px;}
.u-book-0 .add{display:block;margin-right: 20px;border: 1px solid #DDDDDD;}
.u-book-0 .add img {width: 100%;display: block;}
.u-book-0 .add .icon-add{left: 0;right: 0;top: 0;bottom: 0;background: #FFFFFF;}
.u-book-0 .add .icon-add:before{position: absolute;left: 0;right: 0;text-align: center;top: 50%;height: 44px;line-height: 44px;font-size: 44px;margin-top: -22px;color: #DDDDDD;}

.u-book-1{padding: 16px 10px;border-top: 1px solid #EEEEEE;}
.u-book-1:first-of-type{border-top: none;padding-top: 0px;}
.u-book-1:last-of-type{padding-bottom: 0px;}
.u-pWrap > .u-book-1:first-of-type{padding-top: 10px;}
.u-book-1 a img{float: left;width: 95px;height: 125px;}
.u-book-1 a .info{margin-left: 107px;}
.u-book-1 a .info>span{display: block;}
.u-book-1 .title{max-height: 32px;font-size: 14px;color: #333333;font-weight: bold;line-height: 16px;}
.u-book-1 .author{margin-top: 8px;color: #666666;}
.u-book-1 .summary{margin-top: 12px;color: #999999;line-height: 18px;max-height: 54px;}
.u-book-1 .bookStar + .summary{margin-top: 2px;}

.u-book2-line{padding: 0 10px;width: 100%;}
.u-book-2{position: relative;float: left;width: 33.3%;margin-top: 10px;}
.u-book-2:nth-child(1), .u-book-2:nth-child(2), .u-book-2:nth-child(3){margin-top: 0;}
.u-book-0:nth-child(1), .u-book-0:nth-child(2), .u-book-0:nth-child(3){margin-top: 0;}
.u-book-2 .u-recentRead{position: absolute;top: -3px;right: -4px;bottom: 0;left: 50%;background-image: url('../img/recentRead.png');background-repeat: no-repeat;background-size: contain;background-position: center top;}
.u-book-2 a {display: block;margin-right: 20px;position: relative;}
.u-book-2 a img{width: 100%;height: auto;}
.u-book-2 a span{display: block;text-align: center;font-size: 12px;height: 30px;line-height: 15px;color: #666666;margin: 6px 0px 0px 0px;}

.subCat-1 .u-book-3 {padding-right: 20px;box-sizing: border-box;}
.u-book-3{float: left;width: 100%;padding: 16px 10px;border-top: 1px solid #EEEEEE;box-sizing: border-box;}
.u-book-3 .title{color: #333333;font-weight: bold;font-size: 14px;}
.u-book-3 .author{margin-left: 30px;color: #666666;}
/*.u-book-3 .bookState{color: #37C8B8;}*/
.u-book-3 .summary{margin-top: 8px;color: #999999;line-height: 20px;}

.u-book-5{height: 16px;line-height: 16px;padding: 5px 10px;margin-top: 10px;font-size: 15px;}
.u-book-5:first-child{margin-top: 0}
.u-book-5 .topNb{display: inline-block;width: 16px;height: 16px;margin-right: 10px;text-align: center;color: #fff;background-color: #CBC8C4;-moz-border-radius: 50%;border-radius: 50%;}
.u-book-5 .topNb.NO1,.u-book-5 .topNb.NO2,.u-book-5 .topNb.NO3{background-color: #41C2C2;font-size: 13px;}
.u-book-5 a span{vertical-align: middle;}

.u-lines{background: #FFFFFF;border-top: 1px solid #EEE;border-bottom: 1px solid #EEE;}
.u-lines .u-line{height: 50px;line-height: 50px;margin-left: 15px;border-bottom: 1px solid #EEE;color: #666;font-size: 14px;}
.u-lines .u-line:last-child{border-bottom: 0;}
.u-lines .u-line a{display: block;height: 50px;line-height: 50px;padding-left: 0px;}
.u-lines .u-line .iconfont{display: inline-block;font-size: 18px;margin-right: 20px;}

.u-feedbackForm {padding: 25px 25px 0 25px;}
.u-feedbackForm .message, .u-feedbackForm .contact{height: 40px;line-height: 21px;padding: 10px 15px;border: 1px solid #CCCCCC;border-radius: 6px;color: #333;background: #FFF;}
.u-feedbackForm .message{height: 160px;padding: 8px;}
.u-feedbackForm .tips{margin-top: 25px;color: #444444;font-size: 14px;}
.u-feedbackForm .contact{margin-top: 10px;}
.u-feedbackForm .message:focus, .u-feedbackForm .contact:focus{border: 1px solid #1AC0AE}
.u-feedbackForm .u-submitBtn{width: 100px;height: 36px;line-height: 36px;padding: 0;border: 1px solid #30AC9E;border-radius: 5px;text-align: center;font-size: 14px;color: #FFF;background: #1AC0AE;}

.u-stars{position: relative;padding: 2px 0;}
.u-stars .mask{position: relative;height:18px;overflow: hidden;}
.u-stars .stars{position: absolute;left:0;width: 95px;}
.u-stars .stars li{float: left;margin-left: 5px;line-height: 1.2;}
.u-stars .stars li:first-child{margin-left: 0}
.u-stars .stars li:before{font-size: 15px;color: #ccc;}
.u-stars .active li:before{color: #FFA726;}

.u-noteText{height: 40px;line-height: 40px;padding-left: 10px;border-bottom: 1px solid #EEEEEE;color: #999;background: #FFFFFF;}

.u-search{ position: absolute; right: 45px; left: 45px;}
.u-search .searchInput{ box-sizing: border-box;width: 100%;height: 26px;line-height: 26px;overflow: hidden;margin-top: 10px;padding: 0 8px;font-size: 14px;background-color: #36B1B1;color: #FFF;-moz-border-radius: 4px;border-radius: 4px;}
.u-search .searchInput::-moz-placeholder { color: #FFF;}
.u-search .searchInput::-webkit-input-placeholder { color:#FFF; }
.u-search .searchInput:-ms-input-placeholder { color:#FFF; }
.u-search .searchBtn{width: 44px;height: 44px;line-height: 44px;margin-right: -44px;font-size: 14px;text-algin: center;color: #fff;}

.u-moving-ball{position: absolute;top: 50%;left: 50%;width:50px;height: 50px;margin-left: -25px;margin-top: -25px;}
.u-moving-ball ~ i{display: none;}
.u-moving-ball i{position: absolute;top:0;display: block;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center center;background-size: contain;}
.u-moving-ball i.ball-1{left: 0;background-image: url(../img/defaultAvatar.png);background-size: 80%;}
.u-moving-ball i.ball-2{right: 0; background-image: url(../img/icon_tuoyuan.png);-webkit-transform-origin: 50%;transform-origin: 50%;-webkit-animation:round2 1s linear 0s infinite;animation:round2 1s linear 0s infinite;}
@-webkit-keyframes round2{0%{-webkit-transform:rotate(0deg);} 100%{-webkit-transform:rotate(360deg);} }
@keyframes round2{0%{transform:rotate(0deg);} 100%{transform:rotate(360deg);} }
.u-loading{position: absolute;top: 50%;left: 0;margin-top: -15px;width:100%;height:30px;line-height: 30px;text-align: center;letter-spacing: 0.1em;font-size: 12px;}
.u-loading i.loading{}
.u-sLoading{position: relative; height: 100px; line-height: 40px;text-align: center;letter-spacing: 2px;font-size: 12px;background: #FFFFFF}
.u-book-loading:before{display: block;margin: 0 auto; width: 66px;height: 66px;margin-bottom: 10px;background-image: url('../img/book.gif');background-size: 66px 66px;content: "";}
.u-noData{position: absolute;top: 50%;left: 0;right:0;text-align: center;}

.u-readMore{display: block;height: 40px;width: 100%;line-height: 40px;margin-top:5px;padding: 0 10px;text-align: center;color: #777;background-color: transparent;}

.u-scroll-y{overflow-y: auto;}

.u-pWrap{background: #FFFFFF;}

.u-cover{position: absolute;z-index: 3000;top: 0;bottom: 0;width: 100%;background-color: #fff;color: #FFF;}

.u-btn{display: inline-block;height: 40px;padding: 0 30px;line-height: 40px;background-color: #41c2c2;font-size: 15px;text-align: center;color: #ffffff !important;letter-spacing: 0.2em;-moz-border-radius: 5px;border-radius: 5px;}
.u-btn-full{width: 100%;padding: 0;}
.u-btn-disabled{background-color: #E1E1E1;color: #B1B1B1 !important;}
.u-btn-1{display: block;position: absolute;z-index: 111;width:100%;bottom: 0;height: 51px;line-height: 51px;text-align: center;background-color: #41c2c2;font-size: 15px;text-align: center;color: #fff;letter-spacing: 0.2em;}
.u-btn-1 .icon-delete{font-size: 15px;margin-right: 3px;}
.u-btn-1-disabled{background-color: #DFDFDF;color: #333 !important;}

.u-btn2{height: 30px;line-height: 26px;padding: 0 20px;border: 1px solid #fda676;color: #fda676;background-color: #fff;-moz-border-radius: 15px;border-radius: 15px;}
.u-btn2-on{color: #fff;background-color: #fda676;}

.u-btn3{display: inline-block;padding: 5px 40px;border: 1px solid #41C2C2;border-radius: 2px;font-size: 15px;color: #41C2C2 !important;}

/* unit */
/* bookrack */
.u-bookrack{position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: #FFFFFF;overflow-y:auto;-webkit-overflow-scrolling: touch;padding-top:1px;margin-top:-1px;}
.u-bookrack{top: 44px;bottom: 50px;}

.icon-selected {position: absolute;top: 0;right: 0;left: 0;bottom: 0;}
.icon-selected:after{display: block; position: absolute; top: 10px; right: 11px; z-index: 12; font-size: 17px; line-height: 17px; color: #fff;}
.icon-selected:before{display: block;content:' ';position: absolute;top: 10px;right: 10px;z-index: 11; height: 20px; width: 20px;background-color: #000;-moz-border-radius: 50%;border-radius: 50%;-webkit-opacity: .7;opacity: .7;}
.z-active .icon-selected:before {background-color: #FDA676;-webkit-opacity: 1;opacity: 1;}
/* /bookrack */

.shelfWrap{padding: 10px; width:100%;}

/* 极细线条 */
/*.border-1px{position: relative; }
.border-1px:before{border-bottom: 1px solid #E0E0E0; content: ' '; display: block; width: 100%; position: absolute; left: 0; }
.border-1px:before{bottom: 0; }
@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
    .border-1px::before{
      -webkit-transform: scaleY(.7);
      -webkit-transform-origin: 0 0;
      transform: scaleY(.7);
    }
    .border-1px::before{
      -webkit-transform-origin: left bottom;
    }
}
@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
    .border-1px::before{
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
    }
}

*/
