.m-balance{background-color: #fff;}
.u-balance{padding: 15px;text-align: center;background: #20ced7;height: 205px;}
.u-balance .title{font-size: 16px;}
.u-balance .count{margin-top: 12px;font-size: 36px;color: #ffffff;}
.u-balance .count span{display: inline-block;width: auto;position: relative;}
.u-balance .count span:before{content:'';position: absolute;right: -23px;top:26px;width:25px;height: 25px;background: url(../img/icons/icon_aidou2@2x.png) no-repeat;background-size: cover;}
.u-balance .unit{margin-left: 6px;font-size: 14px;}

.u-balance-r{padding: 12px 15px;}
.u-balance-r h5{font-size: 18px;}
.u-balance-r p{font-size: 15px;}

.u-divider {height: 15px;background: #fafafa;}
.u-divider.u-p-10{height: 10px;}

.m-paytip{padding: 10px 15px;margin-top: 20px;}
.m-paytip .tipTitle{position: relative;margin-bottom: 8px;font-size: 16px;color: #666666;text-align: center;}
.m-paytip .tipTitle:before{content: '';width: 35%;height: 1px;background: #eeeeee;position: absolute;left: 0;top: 50%;}
.m-paytip .tipTitle:after{content: '';width: 35%;height: 1px;background: #eeeeee;position: absolute;right: 0;top: 50%;}
.m-paytip li{position: relative;line-height: 18px;margin-left: 20px;margin-bottom: 10px;font-size: 14px;color: #999999;}
.m-paytip li:before{position: absolute;left: -16px;top: 6px;width: 6px;height: 6px;border-radius: 50%;background-color: #0196aa;content: "";}

.pay-list{border-top: 1px solid #eee;}
.pay-list li {position:relative;width: 50%;height:85px;box-sizing: border-box;text-align: center;}
/*.pay-list li:nth-child(2n+1) {padding: 0 7px 0 15px;}
.pay-list li:nth-child(2n) {padding: 0 15px 0 7px;}*/
.pay-list li img {display: block;max-width: 100%;}
.pay-list li .count{line-height: 85px;font-size: 20px;text-align: center;color: #000;font-weight: normal;}
.pay-list li > span{vertical-align: middle;}
.pay-list li:nth-child(2n){border: solid #eee;border-width: 0 0 1px 1px; }
.pay-list li:nth-child(2n+1){border-bottom:1px solid #eee; }
.pay-list li:nth-child(2n) .count{left: 7px}
.pay-list li:nth-child(2n+1) .count{left: 15px}
.pay-list li.active .count{color: #ff4081;}

.m-balance .u-userform{padding-top: 25px;letter-spacing: 0.1em;}
.m-balance .formTitle{margin-top: -10px;margin-bottom: 10px;}

.m-recharge{}
.m-recharge .title{margin-bottom: 12px;padding: 15px 0 20px;border-bottom: 1px solid #EEE;line-height: 1;text-align: center;}
.m-recharge .result-suc td{font-size: 16px;}
.m-recharge .result-note{margin-bottom: 5px;}
.m-recharge .result-fail{padding: 15px 0;}
.m-recharge .result-fail span{display: inline-block;line-height: 45px;font-size: 16px;color:#777;}
.m-recharge .result-fail .u-btn{padding: 0 10px;letter-spacing: normal;}

.m-order{margin: 0 15px;}
.m-order .m-order-detail{padding:12px 20px;background: #f2f2f2;height: 56px;font-size: 17px}
.m-order .m-order-detail h5{font-size: 17px;}
.m-order .payNote{line-height: 28px;}
.m-order .mt-45{margin-top: 45px;}
.m-order .block{padding: 15px 0;background: #FFF;}
.m-order .block .lh-30{line-height: 30px;}
.m-order .m-order-left{font-size: 15px;border-bottom: 1px solid #eee;}
.m-order .m-order-left .f-fc-777{font-size: 14px;line-height: 30px;margin-right: 7px;}
.m-order .btn-cz{width: 50px;height: 25px;padding: 0;background: #fff;color: #0196aa;line-height: 25px;border: 1px solid #0196aa;border-radius: 2px;font-size: 14px;}
.m-order .yhui{margin:20px 0;border: 1px solid #0196aa;text-align: center;line-height: 38px;font-size: 18px;color: #0196aa;}
.m-order .m-o-code{margin: 15px 0;}
.m-order .m-o-code div img{margin-left: 5px;}
.u-inputline.n-b{margin-bottom: 0}
.u-inputline.j-b{margin: 60px 12% 0;}
.bind-box{height: 30px;}
.l-30{line-height: 30px;display: inline-block;}
.u-notice{color: #777;font-size: 11px;line-height: 30px;}

.img-block{display: none}
.img-block.show{display:block}
.img-code{position: absolute; width: 76%;left: 12%; background: #fff;z-index: 11;top: 30%;text-align: center;border-radius: 2px;}
.img-code img{margin: 15px 0;}
.img-code input{display: block;width: 70%;border: 1px solid #0196aa;margin: 0 auto;margin-bottom: 15px;line-height: 24px;padding: 0 10px;}
.img-code button{height: 40px;line-height: 40px;font-size: 15px;color: #0196aa;}
.img-code div{border-top: 1px solid #eee;}
.img-code button:first-child{border-right: 1px solid #eee;color: #000;}

.bind-way{position: absolute;line-height: 36px;padding: 0 15px;color: #777;background: #fafafa;width: 100%;}

.i-icon-large{width: 100px;height: 100px;background:url(../img/icons/icon_aidou@2x.png);background-size: cover;margin: auto;margin-top: 25px;}


.g-f{background: #fafafa;}
.m-recharge-result{margin-top: 15px;background: #ffffff;padding: 0 15px;}
.m-recharge-result .m-result-status{padding: 20px 0;font-size: 22px;color: #000;text-align: center;border-bottom: 1px solid #eee;}
.m-recharge-result .m-result-detail,.m-recharge-result .m-result-detail-f{padding: 15px 0;color: #777777;font-size: 15px;line-height: 27px;}
.m-recharge-result .m-result-detail-f{padding: 14px 0;text-align: center;}
.m-recharge-result .m-result-detail .m-s{font-size: 14px;float: right;}
.m-recharge-result .m-result-icon-s{display: block;margin: auto;width:45px;height:45px;background: url(../img/icons/icon_success@2x.png);background-size: cover;}
.m-recharge-result .m-result-icon-f{display: block;margin: auto;width:45px;height:45px;background: url(../img/icons/icon_fail@2x.png);background-size: cover;}