.m-userblocks{position: absolute;top: 44px;bottom: 0;left: 0;right: 0;background: #f8f9f9;}
.m-userblock{padding-bottom:20px;box-sizing:border-box;background-color: #fff;width: 75%;left: inherit;z-index: 100}
.m-userblock .m-ublock .u-lines{padding-bottom:10px;background: #FFFFFF;border:0;}
.m-userblock .m-ublock .u-lines.active0{border-bottom: 1px solid #EEE;}
.m-userblock .u-lines .u-line{margin-left: 5px;}
.m-ublock{margin-top: 10px;}
.m-ublock .title{margin-left: 8px;}
.m-ublock .title h2{padding: 0 15px;height: 56px;line-height: 56px;font-size: 14px;font-weight: bold;color: #333333;}
.m-wrapper{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);z-index:11;display: none;}
.m-wrapper.show{display: block;}
.m-user-list{position: absolute;top:0;left:100%;width: 100%;height:100%;transition: all .3s;}
.m-user-list.show{left: 0}
.m-user-list .g-main{background: transparent;}

.u-userform{margin: 0 16px;padding: 25px 0;}
.u-inputline{margin-bottom: 16px;}
.u-inputline-2{padding: 20px 0 10px;border-bottom: 1px solid #cccccc;}
.u-inputline-2 .u-input-2{color: #000;font-size: 15px;line-height: 24px;width: 100%;}
.u-ymz{line-height: 24px;display: inline-block;font-size: 13px;color: #0196aa;}
.u-userform .u-inputc, .u-userform .u-buttonc{width: 50%;box-sizing:border-box;padding-right: 8px;}
.u-userform .u-buttonc{padding:0 0 0 8px;text-align: center;}
.u-userform .u-buttonc .tip{font-size: 15px;color: #41c2c2;}
.u-userform .u-input{-webkit-appearance: none;width: 100%;height: 40px;line-height: 38px;box-sizing: border-box;border: 1px solid #41c2c2;box-shadow: none;border-radius: 4px;text-indent: 10px;}
.u-userform .u-textarea{height: 200px;line-height: 1.5;padding: 12px 10px;text-indent: 0;}
.u-userform .u-otherlogins-tip{margin: 60px 0 40px 0;text-align: center;color: #999999;font-size: 13px;}
.u-otherlogin .title{display: block;text-align:center;color: #666666;font-size: 13px;}
.u-otherlogin img{width: 56px;}
.u-userform .feedback-tips{color: #999999;margin-bottom: 10px;}
.u-registerform.u-userform{margin: 0 40px;}
.u-p-25{margin-top: 25px;}
.u-p-25 .u-btn.u-btn-full{border-radius: 2px;}
.u-btn-disabled.u-n-bg{background: transparent;}

.avatar-block{min-height: 133px; height: 133px;background: #40AFA9;}
.avatar-block .bg{display:block;width: 100%;height: 100%;}
.avatar-wrap{position: absolute;top: 50%;left: 20px;width: 60px;height: 60px;overflow: hidden;box-sizing:border-box;margin-top: -30px;border-radius: 50%;}
.avatar-wrap img{display: block;position: absolute;left: 0;top:0;width: 60px;height: 60px;border-radius: 50%;}
.username{position: absolute;top: 50%;left: 100px;right: 0;text-align: left;margin-top: -27px;font-size: 17px;color: #FFFFFF;line-height: 30px;}
.username > p:nth-child(2) {font-size: 12px;}

.icon-read,.icon-balance,.icon-tag,.icon-file,.icon-setting,.icon-yueli,.icon-feedback,.icon-about{color: #41c2c2;}
.u-lines .u-line .icon-arrow-right{margin-right: 15px;color: #CCCCCC;font-size: 14px;}
.u-lines .u-line.logout-btn {margin-left: 0;text-align: center;color: #F16663;font-size: 14px;}
.u-lines .u-line a span{pointer-events:none;    vertical-align: middle;}
.u-lines .u-line .s-title{display: inline-block;color: #777777;font-size: 12px;margin-left: 15px;}

.m-select-phone li:first-child{font-size: 12px;color: #777}
.m-select-phone li a{display:block;}
.m-r-notice{width: 80%;background: #fff;font-size:13px;position: absolute;z-index: 11;margin-top:-100px;left: 10%;border-radius: 3px;top:600px;opacity:0;transition: all .2s ease; -webkit-transition: all .2s ease;}
.m-r-notice.show{top: 50%;opacity: 1}
.m-r-notice>div{padding: 10px 35px 15px;text-align: justify;}
.m-r-notice>div h1{text-align: center;font-size: 18px;padding-bottom: 5px}
.m-r-notice>div span{color: #777;}
.m-r-notice>div p{line-height: 20px}
.m-r-notice>div p span{color: #0196aa}
.m-r-notice>button{display: block;width: 100%;line-height: 36px;font-size: 16px;border-top: 1px solid #eeeeee;color: #007aff;}
a.red{background: #ff6d6d;}